@page "/section-demo"
@using Microsoft.AspNetCore.Components.Sections
@rendermode InteractiveServer

<PageTitle>Section</PageTitle>

<h1>Section</h1>

<p>Look in Menu</p>


<SectionContent SectionName="ButtonTextSection">
    <a style="color: antiquewhite;">Section Text</a>
</SectionContent>
